body {
    background-color: #232323;
}

#container {
    max-width: 600px;
    margin: 0 auto;
}

.square {
    width: 30%;
    margin: 1.66%;
    background-color: purple;
    padding-bottom: 30%;
    float: left;
}

#heading {
    color: white;
}

#stripe {
    background: white;
    height: 30px;
    text-align: center;
    padding-top: 10px;
}