body {
    background-color: #232323;
    margin: 0;
    font-family: "Montserrat", "Avenir", "Arial";
}

#container {
    max-width: 600px;
    margin: 20px auto;
}

.square {
    width: 30%;
    margin: 1.66%;
    background-color: purple;
    padding-bottom: 30%;
    float: left;
    border-radius: 25px;
    transition: background 0.6s;
    -webkit-transition: background 0.6s;
    -moz-transition: background 0.6s;
}

h1 {
    color: white;
    text-transform: uppercase;
    text-align: center;
    background: steelblue;
    margin: 0;
    letter-spacing: 2px;
    font-weight: normal;
    padding: 10px 0;
    line-height: 45px;
}

#displayColor {
    font-size: 40px;
}

#stripe {
    background: white;
    color: steelblue;
    text-align: center;
}

button {
    color: steelblue;
    border: none;
    background: white;
    font-size: inherit;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
    height: 100%;
    padding: 10px 5px;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    outline: none;
}

button:hover {
    background: steelblue;
    color: white;
}

#message {
    font-size: inherit;
    width: 20%;
    display: inline-block;
}

.selected {
    background: steelblue;
    color: white;
}